
  <div class="row">
    <div class="col-lg-4">
        <div class="cart-buttons">
            <a href="#" class="primary-btn continue-shop">Continue shopping</a>
            <a href="#" class="primary-btn up-cart">Update cart</a>
        </div>
        <div class="discount-coupon">
            <h6>Discount Codes</h6>
            <form action="#" class="coupon-form">
                <input type="text" placeholder="Enter your codes">
                <button type="submit" class="site-btn coupon-btn">Apply</button>
            </form>
        </div>
    </div>
    <div class="col-lg-4 offset-lg-4">
        <div class="proceed-checkout">
            <h6> Price Details</h6> 
            <div class="summery-item">
                <span class="text">Price ({{productLen}}
                  <span *ngIf="productLen < 2">item</span>
                  <span *ngIf="productLen > 1">items</span>)</span>
              </div>
            <ul>
                <li class="subtotal">Total paybale <span>{{totalPrice | currency:currencyCode}}</span></li>

                <li class="subtotal">Total livraaison<span>{{totalDeliveryAmt | currency:currencyCode}}</span></li>
                <li class="cart-total">Total <span>{{totalPayableAmt | currency:currencyCode}}</span></li>
            </ul>
            <a href="#" class="proceed-btn" routerLink="/checkout">PROCEED TO CHECK OUT</a>
        </div>
    </div>
</div>